#client-details__content-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px 200px;
    gap: .5rem;
}

.data__container-row h4 {
    font-weight: 300;
    /* height: 3rem; */
}
