.container {
    margin-top: 1rem;
}

.company__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .2rem;

}

.company__container.hover:hover {
    background-color: var(--color-gray-light);
}

.company__container-data {
    display: grid;
    grid-template-columns: 300px 50% 130px;
    margin: 0;
    padding: .2rem;
}

.company__container-cta {
    display: flex;
    width: 100px;
    padding: .2rem;
}

.test-btn {
    padding:0;
    margin: 0;
}


.filter__form form {
    display: inline;
    flex-direction: row;
    outline: none;
    margin-right: .5rem;
}

.filter__form input, select {
    height: 1.8rem;
    border : 1px #ccc solid;
    margin-right: 4rem;
    border-radius: .3rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

.filter__form input:focus,
.filter__form select:focus {
    outline: none;
}

.filter__form label {
    margin-right: .5rem;
}

.input__company-name {
    width: 250px;
}

.input__company-city {
    width: 150px;
}

.headers {
    font-weight: 700;
    padding: 0;
    margin: 0;
    cursor: default;
}

#headers {
    background-color: whitesmoke;
}

.headers > p {
    font-weight: 300;
}