.calendar__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.calendar__nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 .3rem;
}

.calendar__nav-item > p {
    margin: 0 .5rem;
}

.calendar__legend,
.calendar__legend-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: .6rem 0;
    font-size: .5rem;
    height: 8px;
    border-radius: .3rem;
    cursor: default;
}

.calendar__legend-container {
    padding: .2rem .3rem;
    margin-right: 1rem;
}

.calendar__legend-icon {
    margin-left: 0px;
}

.calendar__legend p {
    display: inline;
    margin-left: .1rem;
}

.calendar__week-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 1px;
    background-color: #87d1ff;
    gap: 1px;
    
}

.calendar__day-container {
    display: grid;
    width: 100%;
    background-color: var(--color-content-light);
}

.calendar__day-container-weekend {
    background-color: #87d1ff;
}

.calendar__day-container-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .8em;
    padding: 0 .2rem;
    background-color: var(--color-header-dark);
    height: 50px;
    text-align: center;
    text-transform: uppercase;
    cursor: default;
}

.calendar__day-container-date > p {
    display: inline;
    margin: 0;
    padding: 0;
}

.calendar__day-container-content {
    background-color: var(--color-content-light);
    font-size: .55rem;
    min-height: 200px;
}

.calendar__day-element {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: .2rem .2rem;
    margin: .1rem;
    border-radius: 2px;
    border: 1px solid transparent;
}

.calendar__day-element:first-child {
    border-top: 1px solid transparent
}

.client-task {
    background-color: var(--color-client-task);
}

.lead-task {
    background-color: var(--color-lead-task);
}

.client-other-task {
    background-color: var(--color-client-other-task);
} 

.lead-other-task {
    background-color: var(--color-lead-other-task);
} 

.client-task,
.lead-task,
.client-other-task,
.lead-other-task,
.other-task {
    position: relative;
}

.client-other-task:hover .cta__hoverable-icons-tooltip,
.lead-other-task:hover .cta__hoverable-icons-tooltip,
.other-task:hover .cta__hoverable-icons-tooltip {
    display: flex;
    opacity: 100%;
    z-index: 100;
    transition: var(--transition);
    font-size: .7rem;
}

.client-other-task:hover .cta__hoverable-icon,
.lead-other-task:hover .cta__hoverable-icon,
.other-task:hover .cta__hoverable-icon {
    font-size: .7rem;
    transition: var(--transition);
}

.cta__hoverable-icons-tooltip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0px;
    height: 0px;
    opacity: 0%;
    position: absolute;
    bottom: -11px;
    left: auto;
    right: auto;
}

.cta__hoverable-icons-container {
    display: flex;
    opacity: 100%;
    background-color: var(--color-white);
    font-size: .7rem;
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 2px;
    box-shadow: 1px 1px 5px #989898;
}

/* icons in cta__hoverable-icons-container  */
.cta__hoverable-icon {
    margin: 0 4px;
    border-radius: 50%;
    padding: .1rem;
    font-size: 0px;
}

.up-arrow {
    width: 0; 
    height: 0; 
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid black;
}

.cta__hoverable-icon:hover {
    scale: 120%;
    border-radius: 50%;
    background-color: var(--color-orange);
    opacity: 60%;
    transition: var(--transition);
}

/* ------------------- */

.other-task {
    background-color: #ff9770;
}

.calendar__day-element > a {
    margin-left: .2rem;
}

.calendar__day-element:hover {
    border: 1px solid var(--color-content-light)
}