.comment__container {
    margin: 1rem;
    border-radius: .2rem;
    background-color: #b7fdff;
}

.comment__container-top {
    display: block;
    background-color: #457b9d;
    color: var(--color-white);
    font-weight: 300;
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
}

.comment__container-top  p,
.comment__container-bottom  p,
.comment__container-bottom  span {
    padding: .2rem;
    margin: 0;
    font-size: .8rem;
}

.comment__container-bottom span {
    color: var(--color-blue-light);
    cursor: pointer;
}

.comment__container-bottom span:hover {
    text-decoration: underline;
}