.leads__data-row {
    border-bottom: 1px solid var(--color-gray-light);
}

.leads__data-row:hover {
    background-color: var(--color-gray-light);
}

.leads-container {
    display: grid;
    grid-template-columns: 90% 10%;
}

.leads__container-headers,
.leads__container-content {
    display: grid;
    grid-template-columns:  1.5fr 1fr 1fr 1.3fr 1fr 1fr 1.3fr .7fr 1fr;
    font-size: .6rem;
    align-items: center;
    padding: .2rem;
    cursor:default;
}

.leads__container-headers-title {
    font-size: .9em;
    font-weight: 700;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.leads__container-headers-title:hover {
    background-color: var(--color-gray-light);
    transition: var(--transition);
}

.leads__container-headers-icon {
    margin-left: .1rem;
    font-size: 1rem;
}

.leads__cta-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: red;
    scale: 150%;
}

.filter-btns__container,
.filter-btn__container,
.filter-btn {
    display: flex;
}

.filter-btn__container {
    flex-direction: row;
}

.filter-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .5rem;
    width: 100px;
}


