.comment__container {
    margin: 1rem;
    border-radius: .1rem;
    background-color: var(--color-content-light);
    border: .5px solid rgb(152, 152, 152);
}

.comment__container-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .2rem;
    background-color: var(--color-header-dark);
    font-weight: 500;
    border-top-left-radius: .1rem;
    border-top-right-radius: .1rem;
}


.comment__container-top-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.comment__container-top  p,
.comment__container-bottom  p,
.comment__container-bottom  span {
    padding: .2rem;
    margin: 0;
    font-size: .7rem;
    cursor: default;
}

.comment__container-bottom span {
    color: var(--color-blue-light);
    cursor: pointer;
}

.comment__container-bottom span:hover {
    text-decoration: underline;
}