#lead-details__content-container {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 400px 200px;
    gap: .5rem;
    grid-template-areas: 
    "main messages"
    "charts messages";
}

#lead-comments__container {
    grid-area: messages;
}

#lead__title {
    font-size: 2rem;
    color: var(--color-white)
}

#lead__title-edit-icon {
    margin-left: .4rem;
}

select#project-potential,
select#project-potential:active,
#next-contact-date,
.data__container-row input#project-value {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
}

.data__container-row input#project-value {
    display: inline-block;
    width: 80px;
    font-size: 1rem;
    font-weight: 700;

}

select#project-potential:hover {
    background-color: var(--color-blue-lighter);
}




