.menu-container {
    display: flex;
    justify-content: space-between;
    gap: .2rem;
    margin-bottom: 1rem;
}

.menu-element-container {
    color: white; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--menu-element-height);
    width: 25%;
    padding: .2rem;
    overflow: hidden;
    text-decoration: none;
}

.menu-element-container:hover {
    color: white;
    opacity: 80%;
}

.menu-element-container.home {
    background-color: #00875c;
}

.menu-element-container.companies {
    background-color: #0d3b66;
}

.menu-element-container.clients {
    background-color: #f95738;
}

.menu-element-container.projects {
    background-color: #ee964b;
}

.menu-element-bg-icon {
    position: relative;
    scale: 300%;
    right: .3rem;
    top: calc( .08 * var(--menu-element-height));
    opacity: 30%;
}