.tasks__filter-container {
    display: flex;
}

.tasks__filter-container-left {
    display: flex;
}

.tasks__filter-container-right {
    display: grid;
    width: 95%;
    gap: 10px;
}

.task-list__container {
    display: grid;
    grid-template-columns: 35% 15% 15% 20% 10%;
    font-size: .65em;
    align-items: center;
}