.container {
  width: 960px;
  min-width: 650px;
  margin: 0 auto;
}

.router-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48%;
  height: 2rem;
  border: 1px solid black;
  border-radius: .2rem;
}


