:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family:'Roboto', Arial, Helvetica, sans-serif, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --menu-element-height: 2rem;
  --font-color-dark: #353535;
  --color-correct-green: #00be00;
  --color-incorrect-red: #ff0000;
  --color-gray-light: #d8d8d8;
  --color-blue-light: #0095ff;
  --color-blue-lighter: #c8e8ff;
  --color-white: #ffffff;
  --color-orange: #ffbb00;
  --color-header-dark: #b5e2fa;
  --color-content-light: #f5f5f5;

  --transition: all 400ms ease;
}

a, 
a:active,
a:focus,
a:hover {
  text-decoration: none;
  color: var(--font-color-dark);
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: whitesmoke;
  color: #353535;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h4 {
  margin: 0;
  padding: 0;
}

h5 {
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Buttons */
.link-btn, 
.link-btn:active,
.link-btn:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1dd3b0;
  color: #ffffff;
  font-weight: 700;
  width: 150px;
  height: 2rem;
  padding: .3rem;
  border-radius: .5rem;
  text-decoration: none;
}

.link-btn:hover {
  color: #535bf2;
}

.edit-btn {
  border: 1px solid #353535;
  background-color: whitesmoke;
  border-radius: .2rem;
  width: 70px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 .1rem;
}

.edit-btn:hover {
  background-color: #353535;
  color: white;
  transition: var(--transition);
}

.btn-small {
  font-size: .7rem;
}

.no-border-btn {
  background-color: transparent;
}

.icon-btn {
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: 1.2rem;
}

.confirm__btn, 
.cancel__btn {
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  margin: 1rem auto;
}

.confirm__btn {
  background-color: var(--color-orange);
}

.cancel__btn {
  background-color: var(--color-incorrect-red);
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

input {
  font-size: .7rem;
  width: 90%;
  padding: .1rem;
  margin: 0;
}

input[type=number]::-webkit-outer-spin-button, 
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: inner-spin-button !important;
  width: 25px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.filter__form {
  display: flex;
}

.filter__form-container-left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 1rem;
}

.filter__form-container-left > p {
  /* display: inline; */
  margin: 0;
}

.form__clients.wrapper {
  grid-template-columns: 1fr 1fr 1fr;
}

.form__leads.wrapper {
  grid-template-columns: 25% 25% 25% 25%;
  gap: .5rem;
}

.form__clients.wrapper,
.form__leads.wrapper {
  display: grid;
  margin-bottom: 1rem;
  width: 900px;
}

.input__client {
  width: 90%
}

.input__leads {
  width: 100%;
}

.input-wrapper {
  display: flex;
  align-items: center;
  margin: .2rem .5rem;
  width: 100%;
}

.label-sm {
  width: 55%;
  font-size: .65rem;
}

.checkbox-wrapper {
  /* font-size: .5rem; */
  align-self: center;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  
  button {
    background-color: #f9f9f9;
  }
}


/* Other */
.icon-white {
  color: var(--color-blue-lighter);
  font-size: 1.2rem;
  cursor: pointer;
}

.icon-lg {
  font-size: .6rem;
  margin-bottom: 2px;
}



/* detail content elements */
.details__content-container {
  display: grid;
}


.details__content-grid-element {
  background-color: white;
  border-radius: 3px;
  border: 1px solid var(--color-gray-light)
}

.info-container-top {
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--color-blue-light);
  height: 8rem;
  padding: 2rem;
}


.details__avatar-img {
  background-color: whitesmoke;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.details__info-container-top-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

.details__info-container-top-data > p {
  margin: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.data__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: .5em 2rem;
}

.data__container-row {
  display: grid;
  grid-template-columns: 110px 100px 50px;
  height:50px;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.data__container-column-50-left, 
.data__container-column-50-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
}

#client__name {
  font-weight: 700;
  font-size: 1.2rem;
}

#client__company-name {
  font-weight: 700;
  opacity: 50%;
}

#client__email {
  font-size: .8rem;
}

#edit__btn-client-data {
  position: absolute;
  top: .5rem;
  right: .5rem;
  transition: var(--transition);
}

#edit__btn-client-data:hover {
  font-size: 1.2rem;
  scale: 120%;
}

/* modal */
.modal__container {
  position: fixed;
  left: 50%;
  top: 50%;
  max-width: 600px;
  min-width: 450px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(1px);
  border-radius: .5rem;
  border: 1px solid rgb(137, 137, 137);
  background-color: var(--color-white);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

.modal__container-top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--color-white);
}

.modal__container-top .modal-icon {
  padding: 1rem;
  font-size: 3rem;
}

.modal-error {
  background-color: #b22222;
}

.modal-info {
  background-color: #00bfff;
}

#modal__message-text,
#modal__message-title {
  padding: 0 1rem;
  margin: .7rem 0;
}

.modal__textarea {
  display: flex;
  width: 350px;
  height: 12rem;
  padding: .8rem;
  resize: none;
}

/* animations */

.anim-shake {
  transition: var(--transition);
  background-color: transparent;
}

.anim-shake:hover {
  scale: 120%;
  animation-name: tilt-shaking;
  animation-duration: 2s;
  text-shadow: 10px 5px 5px #0095ff;
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(10deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-10deg); }
  100% { transform: rotate(0deg); }
}

