:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family:'Roboto', Arial, Helvetica, sans-serif, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --menu-element-height: 2rem;
  --font-color-dark: #353535;
  --color-correct-green: #00be00;
  --color-incorrect-red: #ff0000;
  --color-green-light: #d0f4de;
  --color-gray-light: #d8d8d8;
  --color-blue-light: #0095ff;
  --color-blue-lighter: #c8e8ff;
  --color-white: #ffffff;
  --color-orange: #ffbb00;
  --color-header-dark: #b5e2fa;
  --color-content-light: #f5f5f5;

  /* tasks colors */
  --color-client-task: #e4c1f9;
  --color-lead-task: #d0f4de;
  --color-client-other-task: #ffba08;
  --color-lead-other-task: #00f5d4;
  --color-other-task: #e5989b;

  --transition: all 400ms ease;
}

a, 
a:active,
a:focus,
a:hover {
  text-decoration: none;
  color: var(--font-color-dark);
}

#root {
  background-color: whitesmoke;
}

body {
  background-color: red;
  margin: 0 auto;
  color: #353535;
  box-sizing: content-box;
  overflow: scroll;
}

.container {
  margin-top: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h4 {
  margin: 0;
  padding: 0;
}

h5 {
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  /* font-size: 1rem;
  font-weight: 500;
  font-family: inherit; */
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  opacity: 85%;
}

/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* Buttons */
.link-btn, 
.link-btn:active,
.link-btn:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1dd3b0;
  color: #ffffff;
  font-weight: 700;
  width: 150px;
  height: 2rem;
  padding: .3rem;
  border-radius: .5rem;
  text-decoration: none;
}

.link-btn:hover {
  color: #535bf2;
}

/* Style copied from https://getcssscan.com/css-buttons-examples */

/* CSS */
.edit-btn {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: .5rem;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0 auto;
  padding: 0 .2rem;
  outline: none;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  width: 4rem;
  height: 1rem;
  text-align: center;
  transition: var(--transition);
}

.edit-btn:hover,
.edit-btn:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.edit-btn:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

/* END OF COPIED STYLE */

.btn-small,
.btn-small-disabled {
  font-size: .6rem;
  display: flex;
  width: auto;
  height: 1rem;
  align-items: center;
  background-color: transparent;
}

.btn-small-disabled {
  transition: none !important;
  background-color: red;;
}

.no-border-btn {
  background-color: transparent;
}

.icon-btn {
  font-size: 1em;
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.confirm__btn, 
.cancel__btn,
.confirm__btn:disabled {
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  margin: 1rem auto;
}

.confirm__btn {
  background-color: var(--color-orange);
}

.confirm__btn:disabled {
  opacity: 30%;
}

.cancel__btn {
  background-color: var(--color-incorrect-red);
}



/* Form styles */

input[type=number]::-webkit-outer-spin-button, 
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: inner-spin-button !important;
  width: 25px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.filter__form {
  display: flex;
}

.filter__form-container-left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 1rem;
}

.filter__form-container-left > p {
  /* display: inline; */
  margin: 0;
}

.form__clients.wrapper {
  grid-template-columns: 1fr 1fr 1fr;
}

.form__leads.wrapper {
  grid-template-columns: 25% 25% 25% 25%;
  gap: .5rem;
}

.form__clients.wrapper,
.form__leads.wrapper {
  display: grid;
  margin-bottom: 1rem;
  width: 900px;
}

.input__leads {
  width: 100%;
}

.label-sm {
  width: 55%;
  font-size: .6rem;
  margin: 0;
  padding: 0;
}

.checkbox-wrapper {
  /* font-size: .5rem; */
  align-self: center;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

/* ******************************************** */
/* ******************************************** */
/* new Form styles - to implement in every form */
/* ******************************************** */
/* ******************************************** */
form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-bottom: .5rem;
}

input {
  font-size: .7rem;
  width: 90%;
  padding: .5rem;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: .3rem;
  box-sizing: border-box;
}

input:focus,
select:focus {
    outline: none;
}

.form__inputs-container {
  display: grid;
  gap: .5rem;
}

.form-grid-3-cols {
  grid-template-columns: 32% 32% 32%;
}

.input-width-100 {
  width: 100%;
}

.height-1-8 {
  height: 1.8rem;
}

.input-wrapper {
  display: flex;
  align-items: center;
  margin: .2rem .5rem;
  width: 100%;
}

.input-wrapper-label {
  display: grid;
  grid-template-columns: 50px auto;
}

/* Filter buttons (show/hide */
.filter-btns__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 .5rem;
  padding: 0;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
}

.filter-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .5rem;
  width: 100px;
  margin: 0;
  padding: 0 .5rem;
}

.filter-btn:hover,
.filter-btn:active {
  border: 1px solid var(--color-blue-lighter);
  background-color: var(--color-client-other-task);
}

.filter-btn p {
  display: flex;
  padding: 0;
  margin: 0;
  width: 85%
}

.visibility-icon {
  font-size: .8rem;
  margin-left: .2rem;
  border-radius: .2rem;
  margin-right: -.15rem;
}

/* ******************************************** */
/* ******************************************** */
/*                  TYPOGRAPHY                  */
/* ******************************************** */
/* ******************************************** */
p {
  margin: 0;
  padding: 0;
}

.center-text {
  text-align: center;
  /* margin: 0;
  padding: 0; */
  /* display: flex;
  justify-content: center; */
}

.red-text {
  color: var(--color-incorrect-red)
}

/* END of new form styles */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}


/* Other */
.icon-white {
  color: var(--color-blue-lighter);
  font-size: 1.2rem;
  cursor: pointer;
}

.icon-lg {
  font-size: .6rem;
  margin-bottom: 2px;
}

.cursor-pointer {
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}


/* detail content elements */
.details__content-container {
  display: grid;
}


.details__content-grid-element {
  background-color: white;
  border-radius: 3px;
  border: 1px solid var(--color-gray-light);
  height: fit-content;
}

.grid-3-of-4 {
  display: grid;
  gap: .5rem;
  grid-template-columns: 75% 25%;
}

.content-header {
  margin-top: .2rem;
  font-weight: 700;
  font-size: .8rem;
}

.content-header__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 .2rem;
  background-color: var(--color-header-dark);
  font-weight: 500;
  border-top-left-radius: .1rem;
  border-top-right-radius: .1rem;
}

.info-container-top {
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--color-blue-light);
  height: 8rem;
  padding: 2rem;
}


.details__avatar-img {
  background-color: whitesmoke;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.details__info-container-top-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

.details__info-container-top-data > p {
  margin: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.data__container {
  padding: .5em 1rem;
}

.grid-2x-1fr {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.data__container-row {
  display: grid;
  grid-template-columns: 110px 100px 50px;
  height:50px;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.data__container-column-50-left, 
.data__container-column-50-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
}

#client__name {
  font-weight: 700;
  font-size: 1.2rem;
}

#client__company-name {
  font-weight: 700;
  opacity: 50%;
}

#client__email {
  font-size: .8rem;
}

#edit__btn-client-data {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: .5rem;
  right: .5rem;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  font-size: .8em;
  background-color: var(--color-client-task);
  transition: var(--transition);
  cursor: pointer;
}

#edit__btn-client-data:hover {
  scale: 110%;
}

/* stats container */
.stats__container {
  font-size: .6rem;
  overflow: hidden;
}

.stats__container-item:first-child {
  margin-top: .2rem;
}

.stats__container-item {
  display: flex;
  justify-content: center;
}



.stats__container-item-title {
  width: 100px;
}

/* go back container */
.go-back__container {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: .5rem;
  left: .5rem;
  padding: 0 .4em;
  border-radius: 8px;
  font-size: .8em;
  height: 20px;
  /* color: var(--color-); */
  background-color: var(--color-client-task);
  transition: var(--transition);
  cursor: pointer;
}

.go-back__container:hover {
  scale: 110%
}

.cta__container {
  display: flex;
  align-items: center;
}
.cta__container p{
  margin: 0 .2rem;
  cursor: pointer;
}

/* modal */
.modal__container {
  position: fixed;
  left: 50%;
  top: 50%;
  max-width: 600px;
  min-width: 450px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(1px);
  border-radius: .5rem;
  border: 1px solid rgb(137, 137, 137);
  background-color: var(--color-white);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

.modal__container-top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--color-white);
}

.modal__container-top .modal-icon {
  padding: 1rem;
  font-size: 3rem;
}

.modal-error {
  background-color: #b22222;
}

.modal-info {
  background-color: #00bfff;
}

#modal__message-text,
#modal__message-title {
  padding: 0 1rem;
  margin: .7rem 0;
}

.modal__textarea {
  display: flex;
  width: 350px;
  height: 12rem;
  padding: .8rem;
  resize: none;
  font-family:'Roboto', Arial, Helvetica, sans-serif, sans-serif;
}

/* animations */

.anim-shake {
  transition: var(--transition);
  background-color: transparent;
}

.anim-shake:hover {
  scale: 140%;
  animation-name: tilt-shaking;
  animation-duration: 2s;
  text-shadow: 10px 5px 5px #0095ff;
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(10deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-10deg); }
  100% { transform: rotate(0deg); }
}

